# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/
.env/

# IDE / editor files
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Byte-compiled / optimized / DLL files
*.so

# Local logs or temp files
*.log
*.tmp



